*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

$primary-text-color:#000;;
$secondary-text-color:#fff;
$section-padding:5rem;

@mixin flex($justify:space-between){
    display: flex;
    justify-content: $justify;
    align-items: center;
}
.hero-header,.section-width{
    width: 50%;
    margin:0 auto; //85
}

@mixin hover-button{
    background-color:#212b77;
    transition:1000ms background-color; 
}

html {
    scroll-behavior: smooth;
}

.hero-bg{
    background-image: url("image/unsplash_nWidMEQsnAQ.png");
    background-position: center;
    background-size: cover;
}

.hero-header{
    @include flex;
    color: $secondary-text-color;
    .hero-icon{
        @include flex(center);
        font-size: 1rem;
        font-weight: 700;
    }

    ul{
        @include flex(center);
        li {
            list-style-type: none;
            a{
                text-decoration: none;
                font-size: 1rem;
                padding:0 1rem;
                color: $secondary-text-color;
                text-transform: capitalize;
            }
        }
    }

    .search-cart{
        @include flex;
        margin-right:1rem;


        .search{
            background: #FFFFFF33;
            @include flex;
            margin-right: 2rem;
            border-radius: 50%;
            padding:0.5rem;
            .search-icon{
                font-size: 1rem;
            }
        }

        .cart{
            @include flex;
            background: #FFFFFF33;
            border-radius: 20px;
            padding:0.5rem 0.9rem;
            .cart-icon{
                font-size: 1rem;
            }
            p{
                background: red;
                border-radius: 50%;
                width:20px;
                height: 20px;
                @include flex(center);
                font-size: 0.9rem;
                margin-left: 0.5rem;
            }
        }
        .hamburger-container{
            display: none;
        }
    }
}

.hero-content{
    text-align: center;
    padding-bottom: 25rem;
    h2{
        font-size: 2rem;
        font-weight: 800;
        padding: 1.5rem 0 1rem 0;
        color: $secondary-text-color;
        line-height: 1.5;
    }
    button{
        background: #0E122F;
        border-radius: 20px;
        border:none;
        &:hover{
            background-color:#212b77;
            transition:1000ms background-color; 
        }
        a{
            font-size: 0.9rem;
            text-transform: uppercase;
            text-decoration: none;
            padding:0.8rem 2rem;
            display: inline-block;
            color: $secondary-text-color;
            outline: none;
        }
    }
}

// arrival section
.arrival-section{
    padding:$section-padding 0;
    h2{
        font-size: 1.4rem;
        padding:1.5rem 0;
    }
    .arrival-container{
        @include flex;

        .arrival-product{
            flex-basis: 32%;
            img{
                width: 100%;
            }
            p{
                font-size: 1rem;
                text-transform: capitalize;
                padding: 0.5rem 0;
                font-weight: 700;
            }
            .buy{
                @include flex;

                p{
                    font-size: 1rem;
                    color: #666666;

                    span{
                        margin-left: 1rem;
                    }
                }

                a{
                    text-transform: capitalize;
                    text-decoration: none;
                    font-size: 1rem;
                    padding-right: 2rem;
                }
            }
        }
    }
}

// beautify-section component for both beautify and delivery section
.beautify-section{
    padding:$section-padding 0;
    background: #7736040F;
    .container{
        @include flex;
        .Beautify-header-mobile{
            display: none;
        }
        .images-container{
            flex-basis:50%;
            display: grid;
            row-gap: 1rem;
            column-gap: 2rem;

            .first-image{
                grid-row: 1/3;
                grid-column: 1/2;
            }
            .second-image{
                grid-row:1/2;
                grid-column: 2/3;
            }
            .third-image{
                grid-row: 2/3;
                grid-column: 2/3;
            }

            img{
                width: 100%;
            }
        }

        .image-text{
            flex-basis: 45%;

            h2{
                font-size: 1.5rem;
                font-weight: 700;
                padding:1.5rem 0;
            }
            p{
                padding:0.5rem 0;
                font-size: 0.9rem;
                font-weight: 400;
                line-height: 2;
            }
            button{
                margin:1rem 0;
                background: #0E122F;
                border-radius: 20px;
                margin:0.5rem 0;
                @include flex;
                border: none;
                &:hover{
                    @include hover-button
                }
                a{
                    font-size: 0.6rem;
                    text-transform: capitalize;
                    text-decoration: none;
                    padding:1rem 1rem;
                    display: inline-block;
                    color: $secondary-text-color;
                    outline: none;
                    span{
                        padding-left: 10px;
                    }
                }
            }
        }
    }

}

//store-section
.store-section{
    padding: $section-padding 0;
    .store-header{
        @include flex;
        padding-bottom: 2rem;

        h2{
            font-size: 1.3rem;
            font-weight: 600;
        }

        a{
            text-decoration: none;
            color: blue;
            font-size: 1.1rem;
            text-transform: uppercase;
        }
    }
    .categories-store{
        @include flex;
        .category{
            flex-basis:32%;
        }
        img{
            width: 100%;
        }
    }
}

// community section
.community-section{
    padding:2.5rem 0;
    text-align: center;

    h2{
        font-size: 1.5rem;
        text-transform: capitalize;
    }
    p{
        padding:3rem 0;
        font-size: 1rem;
    }
    form{
        @include flex;
        width: 45%;
        margin:0 auto;

        label{
            border:2px solid lightgray;
            width: 70%;
            border-radius:10px;
        }
        input{
            padding: 1rem 1rem;
            border:2px solid red;
            display: inline-block;
            border:none;
            font-size: 0.7rem;
            width: 100%;
            outline: none;
        }
        button{
            padding: 1rem 2rem;
            border-radius: 10px;
            font-size: 0.7rem;  
            background: #0E122F;
            color: $secondary-text-color;
            text-transform:uppercase;
            border:none;
            &:hover{
                @include hover-button
            }
        }
    }
}

// footer section
footer{
    background: #0B0D17;
    color: white;
    .last-page{
        @include flex;
        font-size: 1rem;
    }
    .logo{
        @include flex(center);
        font-size: 1rem;
        letter-spacing: 1px;
        img{
            width:4rem;
        }
    }
    .media-icons-container{
        @include flex;
        column-gap: 0.5rem;
        .media-icon{
            border-radius:50%;
            @include flex(center);
            padding: 0.5rem 0.5rem;
            background: #FFFFFF33;
        }
    }
}

@media only screen and (max-width:1440px){
    .hero-header,.section-width{
        width: 85%;
        margin:0 auto;
    }
    
}

@media only screen and (max-width:1280px){
    .hero-header,.section-width{
        width: 90%;
    }
    
    .hero-header{
        .hero-icon{
            @include flex(center);
            font-size: 0.7rem;
        }
    
        ul{
            li {
                a{
                    font-size: 0.8rem;
                }
            }
        }
    
        .search-cart{
             .search{
                .search-icon{
                    font-size: 0.8rem;
                }
            }
    
            .cart{
                padding:0.5rem 0.9rem;
                .cart-icon{
                    font-size: 0.8rem;
                }
                p{
                    font-size: 0.8rem;
                }
            }
        }
    }
    
    .hero-content{
        padding-bottom: 30rem;
        h2{
            font-size: 1.8rem;
            font-weight: 800;
            padding: 1.5rem 0 1rem 0;
            color: $secondary-text-color;
            line-height: 1.5;
        }
        button{
            background: #0E122F;
            border-radius: 20px;
            border:none;
            a{
                font-size: 0.7rem;
                text-transform: uppercase;
                text-decoration: none;
                padding:0.8rem 2rem;
                display: inline-block;
                color: $secondary-text-color;
                outline: none;
            }
        }
    }
    
    // arrival section
    .arrival-section{
        h2{
            font-size: 1.1rem;
        }
        .arrival-container{
            .arrival-product{
                p{
                    font-size: 0.9rem;
                }
                .buy{
                    p{
                        font-size: 0.9rem;
                    }
    
                    a{
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    //store-section
    .store-section{
        .store-header{
            h2{
                font-size: 1.2rem;
            }
    
            a{
                font-size: 0.9rem;
            }
        }
    }
    
    .community-section{
        padding:3rem 0;
        form{
            label{
                border:2px solid lightgray;
                width: 70%;
                border-radius:10px;
            }
            input{
                padding: 1rem 1rem;
                display: inline-block;
                border:none;
                font-size: 0.7rem;
                width: 100%;
                outline: none;
            }
            button{
                padding: 1rem 2rem;
                border-radius: 10px;
                font-size: 0.6rem;  
                background: #0E122F;
                color: $secondary-text-color;
                text-transform:uppercase;
                border:none;
                &:hover{
                    @include hover-button
                }
            }
        }
    }
    

    // footer section
    footer{
        background: #0B0D17;
        color: white;
        .last-page{
            @include flex;
            font-size: 0.9rem;
        }
        .logo{
            @include flex(center);
            font-size: 0.8rem;
            letter-spacing: 1px;
        }
    }
}

@media only screen and (max-width:1024px){
    
    .hero-header{
        .hero-icon{
            font-size: 0.7rem;
            img{
                width: 4rem;
            }
        }
    
        ul{
            li {
                a{
                    font-size: 0.8rem;
                }
            }
        }
    
        .search-cart{
             .search{
                .search-icon{
                    font-size: 0.7rem;
                }
            }
    
            .cart{
                padding:0.5rem 0.9rem;
                .cart-icon{
                    font-size: 0.8rem;
                }
                p{
                    font-size: 0.8rem;
                }
            }
        }
    }
    
    .hero-content{
        padding-bottom: 30rem;
        h2{
            font-size: 1.4rem;
            font-weight: 800;
            padding: 1.5rem 0 1rem 0;
            color: $secondary-text-color;
            line-height: 1.5;
        }
        button{
            background: #0E122F;
            border-radius: 20px;
            border:none;
            a{
                font-size: 0.6rem;
                text-transform: uppercase;
                text-decoration: none;
                padding:0.8rem 2rem;
                display: inline-block;
                color: $secondary-text-color;
                outline: none;
            }
        }
    }
    
    // arrival section
    .arrival-section{
        h2{
            font-size: 1rem;
        }
        .arrival-container{
            .arrival-product{
                p{
                    font-size: 0.8rem;
                }
                .buy{
                    p{
                        font-size: 0.8rem;
                    }
    
                    a{
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
    .beautify-section{
        .container{
            .image-text{
                flex-basis: 45%;
    
                h2{
                    font-size: 1.2rem;
                }
                p{
                    font-size: 0.7rem;
                }
                button{
                    a{
                        font-size: 0.6rem;
                        padding:0.7rem 0.9rem;
                    }
                }
            }
        }
    
    }

    //store-section
    .store-section{
        .store-header{
            h2{
                font-size: 1.2rem;
            }
    
            a{
                font-size: 0.9rem;
            }
        }
    }
    
    .community-section{
        form{
            width: 58%;
            label{
                border:2px solid lightgray;
                width: 69%;
            }
            input{
                padding: 1rem;
                font-size: 0.7rem;
            }
        }
    }
    

    // footer section
    footer{
        background: #0B0D17;
        color: white;
        .last-page{
            @include flex;
            font-size: 0.7rem;
        }
        .logo{
            @include flex(center);
            font-size: 0.6rem;
            letter-spacing: 1px;
        }
    }
}

@media only screen and (max-width:768px){
    .hero-header{
        .hero-icon{
            font-size: 0.6rem;
            img{
                width: 4rem;
            }
        }
    
        ul{
            li {
                a{
                    font-size: 0.7rem;
                    padding: 0 0.5rem;
                }
            }
        }
    
        .search-cart{
             .search{
                .search-icon{
                    font-size: 0.6rem;
                }
            }
    
            .cart{
                padding:0.4rem 0.8rem;
                .cart-icon{
                    font-size: 0.7rem;
                }
                p{
                    font-size: 0.8rem;
                }
            }
        }
    }

    .hero-content{
        padding-bottom: 20rem;
        h2{
            font-size: 1.2rem;
        }
        button{
            a{
                font-size: 0.7rem;
                padding:0.7rem 1.5rem;
            }
        }
    }
    .arrival-section{
        h2{
            font-size: 1.2rem;
        }
        .arrival-container{
            .arrival-product{
                p{
                    font-size: 0.7rem;
                    padding: 0.4rem 0;
                }
                .buy{
                    p{
                        font-size: 0.7rem;
                    }
    
                    a{
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
    .beautify-section{
        .container{
            .images-container{
                row-gap: 0.7rem;
                column-gap: 1rem;
            }
            .image-text{
                flex-basis: 45%;
    
                h2{
                    font-size: 1rem;
                    font-weight: 700;
                    padding:1rem 0;
                }
                p{
                    font-size: 0.6rem;
                }
                button{
                    a{
                        font-size: 0.6rem;
                        padding:0.8rem 1rem;
                    }
                }
            }
        }
    
    }
    .store-section{
        .store-header{
            h2{
                font-size: 1.1rem;
                font-weight: 600;
            }
    
            a{
                font-size: 0.9rem;
            }
        }
    }
    .community-section{
        padding:3rem 0;
    
        h2{
            font-size: 1.1rem;
        }
        p{
            padding:1.5rem 0;
            font-size: 0.75rem;
        }
        form{
            width: 60%;
            label{
                width: 67%;
            }
            input{
                padding: 0.7rem;
                font-size: 0.7rem;
            }
            button{
                padding: 0.7rem 1.4rem; 
            }
        }
    }
    footer{
        .last-page{
            font-size: 0.7rem;

        }
        .logo{
            img{
                width: 4rem;
            }
            font-size: 0.5rem;
        }
    }
}

@media only screen and (max-width:640px){
    .hero-bg{
        position: relative;
    }
    .hero-header{
        width: 100%;
        padding:1rem 0;
        position: fixed;
        top:0;
        background-color: inherit;
        .hero-icon{
            font-size: 0.6rem;
            img{
                width: 3.5rem;
            }
        }
        ul{
            display: none;
        }
        .block{
            display: block;
            position: absolute;
            top: 3.5rem;
            width: 100%;
            background: #0E122F;;  //74746f
            li{
                width: 100%;
                a{
                    text-align: center;
                    display: inline-block;
                    width: 100%;
                    font-size: 0.9rem;
                    padding: 1.3rem 0;
                }
            }
        }
        .hidden{
            display: hidden;
        }
    
        .search-cart{
             .search{
                 display: none;
                .search-icon{
                    font-size: 0.5rem;
                }
            }
    
            .cart{
                padding:0.3rem 0.8rem;
                .cart-icon{
                    font-size: 0.7rem;
                }
                p{
                    font-size: 0.7rem;
                }
            }
            .hamburger-container{
                display: block;
            }
        }
        
    }
    .nav-color{
       background:#0E122F;
       transition: background 1000ms;
    }

    .hero-content{
        padding-top:3.5rem;
        padding-bottom: 15rem;
        h2{
            font-size: 0.9rem;
        }
        button{
            a{
                font-size: 0.5rem;
                padding:0.7rem 1.3rem;
            }
        }
    }

    .arrival-section{
        h2{
            font-size: 1rem;
        }
        .arrival-container{
            flex-flow: row wrap;
            .arrival-product{
                flex-basis: 49%;
                row-gap:2.5rem;
                p{
                    font-size: 0.7rem;
                    padding: 0.4rem 0;
                }
                .buy{
                    padding:0.8rem 0;
                    p{
                        font-size: 0.7rem;
                    }
    
                    a{
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }

    .beautify-section{
        .container{
            .Beautify-header-mobile{
                display: block;
                padding:2rem 0;
                font-size: 1.1rem;
            }
            flex-direction: column;
            .images-container{
                order: 1;
                row-gap: 1rem;
                column-gap: 1rem;
            }
            .image-text{
                order:2;
                h2{
                    display: none;
                }
                p{
                    font-size: 0.8rem;
                }
                button{
                    a{
                        font-size: 0.6rem;
                        padding:0.7rem 0.9rem;
                    }
                }
            }
        }
    
    }
    .store-section{
        padding: 2.5rem 0;
        .store-header{
            padding-bottom: 1rem;
            h2{
                font-size: 1rem;
                font-weight: 600;
            }
    
            a{
                font-size: 0.7rem;
            }
        }
        .categories-store{
            @include flex;
            flex-flow: row wrap;
            row-gap: 1rem;
            .category{
                flex-basis: 49%;
            }
            img{
                width: 100%;
            }
        }
    }
    .community-section{
        padding:2rem 0;
        h2{
            font-size: 1rem;
        }
        p{
            padding:1.5rem 0;
            font-size: 0.7rem;
        }
        form{
            width: 67%;
            label{
                width: 64%;
            }
            input{
                padding: 0.7rem;
                font-size: 0.6rem;
            }
            button{
                padding: 0.7rem 1.2rem;
                font-size: 0.6rem; 
            }
        }
    }
    footer{ 
        .last-page{
            font-size: 0.4rem;
        }
        .logo{
            font-size: 0.5rem;
            img{
                width: 3.5rem;
            }
        }
    }

}
@media only screen and (max-width:440px){
    .hero-header{
        .hero-icon{
            font-size: 0.5rem;
        }
        .search-cart{
             .search{
                 display: none;
                .search-icon{
                    font-size: 0.5rem;
                }
            }
    
            .cart{
                padding:0.3rem 0.8rem;
                .cart-icon{
                    font-size: 0.6rem;
                }
                p{
                    width: 15px;
                    height: 15px;
                    font-size: 0.5rem;
                }
            }
        }
    }

    .hero-content{
        justify-content: center;
        padding:7rem 0 7rem 0;
        h2{
            font-size: 1.3rem;
            font-weight: 700;
            .hide-mobile{
                display: none;
            }
        }
        button{
            a{
                font-size: 0.5rem;
                padding:0.6rem 1rem;
            }
        }
    }
    .arrival-section{
        h2{
            font-size: 0.9rem;
            padding:2rem 0;
        }
        .arrival-container{
            flex-flow: row wrap;
            row-gap:2rem;
            .arrival-product{
                flex-basis: 48%;
                p{
                    font-size: 0.6rem;
                    padding: 0.4rem 0;
                }
                .buy{
                    padding:0.3rem 0;
                    p{
                        font-size: 0.7rem;
                        span{
                            margin-left: 0.2rem;
                        }
                    }
                    a{
                        padding-right: 0.3rem;
                    }
    
                    a{
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
    .beautify-section{
        padding: 2.5rem 0;
        .container{
            .images-container{
                order: 1;
                row-gap: 0.8rem;
                column-gap: 0.9rem;
            }
            .image-text{
                order:2;
                p{
                    font-size: 0.6rem;
                }
                button{
                    a{
                        font-size: 0.55rem;
                        padding:0.7rem 0.9rem;
                    }
                }
            }
        }
    
    }
    .store-section{
        .store-header{
            padding-bottom: 1rem;
            h2{
                font-size: 1rem;
                font-weight: 600;
            }
    
            a{
                font-size: 0.7rem;
            }
        }
        .categories-store{
            @include flex;
            flex-flow: row wrap;
            row-gap: 1rem;
            .category{
                flex-basis: 48%;
            }
            img{
                width: 100%;
            }
        }
    }
    .community-section{
        padding:2rem 0;
        h2{
            font-size: 0.9rem;
        }
        p{
            font-size: 0.6rem;
            line-height: 2;
        }
        form{
            width: 90%;
            flex-direction: column;
            label{
                width: 100%;
            }
            input{
                padding: 0.7rem;
                font-size: 0.6rem;
            }
            button{
                margin-top: 1rem;
                padding: 0.7rem 1rem;
                font-size: 0.6rem; 
            }
        }
    }
    footer{ 
        padding:1.5rem 0;
        .last-page{
            font-size: 0.6rem;
            flex-direction:column;
            row-gap:1.5rem;
            .logo{
                order: 1;
                font-size: 0.6rem;
                padding-right: 0.6rem;
                img{
                    width: 3.45rem;
                }
            }
            .media-icons-container{
                order:2;
                column-gap: 1.5rem;
                .m-icon{
                    font-size:0.8rem;
                }
            }
            .copy-right{
                order:3;
                padding:1rem 0;
            }
        }
    }
}